* {
  box-sizing: border-box;
}

.main {
  display: flex;
  margin: 50px auto 0;
  width: 400px;
  flex-wrap: wrap;
}

.block {
  width: 33%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: solid black 3px;
}

.withoutBorder {
  border: none;
}

.withoutTopBottomBorder {
  border-top: none;
  border-bottom: none;
}

.withoutLeftRightBorder {
  border-left: none;
  border-right: none;
}

.win_text {
  font-size: 50px;
  color: rgb(185, 47, 123);
  text-align: center;
}

button {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  background: rgb(64,199,129);
  box-shadow: 0 -4px rgb(53,167,110) inset;
  transition: 0.2s;
  cursor: pointer;
}

button:hover { 
  background: rgb(53, 167, 110); 
  transition: .3s linear;
} 

button:active { 
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.count_item {
  text-align: center;
  font-size: 30px;
  
}

.count {
  text-align: center;
  font-size: 30px;
}

.item_cross {
  padding-right: 200px;
}